{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}

<div class="container-fluid px-0 mb-3" >
    <img src="/static/13.jpg" class="d-block w-100 mx-0" alt="..." width="720" height="400">
</div>


<style>
    
</style>

<!-- <h1 class= text-center aos-init aos-animate data-aos="fade-up" data-aos-delay="200" >
     OUR Best Delivery Boy  
        
    
    </h1>

</div>

<div class="container px-0 mb-3" allign-left >
    <img src="/static/14.jpeg" class="d-block " alt="..." width="380" height="380" style="vertical-align:right;margin:0px 50px">
</div>
 -->


{% endblock body %}
