{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}



<div class="container">
    <div><a class="btn btn-light my-3" href="/#">Go Back</a>
        <div>
            <div class="row">
                <div class="col-md-7"><img src="/static/8.jpg" alt="NO-SUGAR ICE CREAMS" class="img-fluid"></div>
                <div class="col-md-5">
                    <div class="list-group list-group-flush">
                        <div class="list-group-item">
                            <h3>NO-SUGAR ICE CREAMS</h3>
                        </div>
                        <div class="list-group-item">
                            <div class="rating"><span><i class="fas fa-star"
                                        style="color: rgb(248, 232, 37);"></i></span><span><i class="fas fa-star"
                                        style="color: rgb(248, 232, 37);"></i></span><span><i class="fas fa-star"
                                        style="color: rgb(248, 232, 37);"></i></span><span><i class="fas fa-star"
                                        style="color: rgb(248, 232, 37);"></i></span><span><i class="fas fa-star"
                                        style="color: rgb(248, 232, 37);"></i></span><span>Free Delivery</span></div>
                        </div>
                        <div class="list-group-item">Price: ₹899.00 per KG</div>
                        <div class="list-group-item">Description: As the name indicates, these ice creams are made by
                            either using artificial sweeteners or sugar substitutes. Some of the latest ice creams are
                            being made using this recipe so as to help the people taste the flavours of ice cream along
                            with taking care of their daily diet. These ice creams can also be termed as sugar-free ice
                            creams.</div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="list-group list-group-flush">
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col">Price:</div>
                                <div class="col"><strong>₹899.00 per KG</strong></div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col">Status:</div>
                                <div class="col">In Stock</div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col">Qty</div>
                                <div class="my-1 col-auto"><select class="form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select></div>
                            </div>
                        </div>


                        <a href = "/sign" > 

                        <div class="list-group-item"><button type="button" class="btn-block btn btn-primary">Add to
                                Cart</button></div>
                                </a>
                   
                            </div>

                </div>





                <div class="col-md-6">
                    <div class="list-group list-group-flush">
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col">Price:</div>
                                <div class="col"><strong>₹899.00 per KG</strong></div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col">Status:</div>
                                <div class="col">In Stock</div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col">Qty</div>
                                <div class="my-1 col-auto"><select class="form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select></div>
                            </div>
                        </div>

                        <a href = "/sign" > 

                        <div class="list-group-item"><button type="button" class="btn-block btn btn-primary">
                                BUY NOW</button></div>
                    </a>
                    
                            </div>
                </div>
            </div><br>





        </div><br>














        <!-- <div class="row">
                <div class="col-md-6">
                    <h4>Reviews</h4>
                    <div class="list-group list-group-flush">
                        <div class="list-group-item"><strong>Nitesh Ramola</strong>
                            <div class="rating"><span><i class="fas fa-star"
                                        style="color: rgb(248, 232, 37);"></i></span><span><i class="fas fa-star"
                                        style="color: rgb(248, 232, 37);"></i></span><span><i class="fas fa-star"
                                        style="color: rgb(248, 232, 37);"></i></span><span><i class="fas fa-star"
                                        style="color: rgb(248, 232, 37);"></i></span><span><i class="fas fa-star"
                                        style="color: rgb(248, 232, 37);"></i></span><span></span></div>
                            <p>2021-05-21</p>
                            <p>Good</p> -->
        <!-- </div>
                        <div class="list-group-item">
                            <h4>Write a Review</h4>
                            <div role="alert" class="fade alert alert-info show"><a href="#/login">Login</a> to write a
                                Review</div>
                        </div>
                    </div> -->




    </div>
</div>
</div>
</div>
</div>









{% endblock body %}